/* Urls stylesheet */
input[type="submit"] {
    width: 100%;
}            
input[type="text"] {
    width: 100%;
}            
input[type="url"] {
    width: 100%;
}            
button[type="button"] {
    width: 100%;
} 
/*
select {
    width: 100%;
}
*/
table, th, td {
    border: 1px solid black;
    text-align: left;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    text-align: center;
}
label {
    width: 100%;
    display: flex;
}            
.ex {
    width: 100%;
}
.outter {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.elts {
   margin-left: auto;
   margin-right: auto;
   text-align: left !important;
}
.inner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.dropdowndiv div { font-family: initial !important,  initial !important,  initial !important; font-size: initial !important; color: initial !important;}

.dropdowntd td {
    background-color: initial !important;
    color: initial !important;
    text-align: initial !important;
    margin: initial !important;
    padding: initial !important;
}
.clean table, .clean tr, .clean td {
    border: initial !important;
    text-align: initial !important;
    margin-left: initial !important;
    margin-right: initial !important;
    text-align: initial !important;
    width: initial;
    display: initial;
    /*
    all: unset !important;
    */
}

