/* Urls stylesheet */
input[type="submit"] {
    width: 100%;
}            
input[type="text"] {
    width: 100%;
}            
input[type="url"] {
    width: 100%;
}            
button[type="button"] {
    width: 100%;
}            
select {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    text-align: left;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    text-align: center;
}
label {
    width: 100%;
    display: flex;
}            
.ex {
    width: 100%;
}
.outter {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.elts {
   margin-left: auto;
   margin-right: auto;
   text-align: left !important;
}
.inner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.dropdowndiv div { font-family:Arial !important, Helvetica !important, Sans-Serif !important; font-size:0.75em !important; color:#000 !important;}
.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}

.dropdowntd td {
    background-color: lightgrey !important;
    color: green !important;
    text-align: center !important;
    margin:0px !important;
    padding:0px !important;
}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px !important; padding:0px !important; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color: green !important; text-decoration:none !important; outline:none !important;}
.dropdown a:hover { color: red !important;}
.dropdown dt a:hover { color: red !important; border: 1px solid grey !important;}
.dropdown .dropdown dt a {background: lightgrey url('/images/downward-triangle.png') no-repeat scroll right center !important; display:block !important; padding-right:20px !important;
                border:1px solid grey !important; width:150px !important;}
.dropdown .dropdown dt a:hover {background: grey url('/images/downward-triangle.png') no-repeat scroll right center; display:block !important; padding-right:20px !important;
                border:1px solid grey !important; width:150px !important;}
.dropdown dt a span {cursor:pointer !important; display:block !important; padding:5px !important;}
.dropdown dd ul { background: lightgrey none repeat scroll 0 0 !important; border:1px solid #d4ca9a !important; color: green !important; display:none !important;
                  left:0px !important; padding:5px 0px !important; position:absolute !important; top:2px !important; width:auto !important; min-width:170px !important; list-style:none !important;}
.dropdown span.value { display:none !important;}
.dropdown dd ul li a { padding:5px !important; display:block !important;}
.dropdown dd ul li a:hover { background-color: grey !important;}

.dropdown img.flag { border:none !important; vertical-align:middle !important; margin-left:10px !important; }
.flagvisibility { display:none !important;}

