/* Urls stylesheet */
input[type="submit"] {
    width: 100%;
}            
input[type="text"] {
    width: 100%;
}            
input[type="url"] {
    width: 100%;
}            
button[type="button"] {
    width: 100%;
}            
select {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    text-align: left;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    text-align: center;
}
label {
    width: 100%;
    display: flex;
}            
.ex {
    width: 100%;
}
.outter {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.elts {
   margin-left: auto;
   margin-right: auto;
   text-align: left !important;
}
.inner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.dropdowndiv div { font-family:Arial, Helvetica, Sans-Serif; font-size:0.75em; color:#000;}
.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}

.dropdown td, .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color: green; text-decoration:none; outline:none;}
.dropdown a:hover { color: red;}
.dropdown dt a:hover { color: red; border: 1px solid grey;}
.dropdown td .dropdown dt a {background: lightgrey url('/images/downward-triangle.png') no-repeat scroll right center; display:block; padding-right:20px;
                border:1px solid grey; width:150px;}
.dropdown td .dropdown dt a:hover {background: grey url('/images/downward-triangle.png') no-repeat scroll right center; display:block; padding-right:20px;
                border:1px solid grey; width:150px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown td dd ul { background: lightgrey none repeat scroll 0 0; border:1px solid #d4ca9a; color: green; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color: grey;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}

