/* Urls stylesheet */
input[type="submit"] {
    width: 100%;
}            
input[type="text"] {
    width: 100%;
}            
input[type="url"] {
    width: 100%;
}            
button[type="button"] {
    width: 100%;
}            
select {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    text-align: center;
}
label {
    width: 200px;
    display: inline-table;
}            
