/* Urls stylesheet */
input[type="submit"] {
    width: 100%;
}            
input[type="text"] {
    width: 100%;
}            
input[type="url"] {
    width: 100%;
}            
button[type="button"] {
    width: 100%;
} 
/*
select {
    width: 100%;
}
*/
table, th, td {
    border: 1px solid black;
    text-align: left;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    text-align: center;
}
label {
    width: 100%;
    display: flex;
}            
.ex {
    width: 100%;
}
.outter {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.elts {
   margin-left: auto;
   margin-right: auto;
   text-align: left !important;
}
.inner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.dropdowndiv div { font-family:Arial !important, Helvetica !important, Sans-Serif !important; font-size:0.75em !important; color:#000 !important;}

.dropdowntd td {
    background-color: lightgrey !important;
    color: green !important;
    text-align: center !important;
    margin:0px !important;
    padding:0px !important;
}

