/* Urls stylesheet */
input[type="submit"] {
    width: 100%;
}            
input[type="text"] {
    width: 100%;
}            
input[type="url"] {
    width: 100%;
}            
button[type="button"] {
    width: 100%;
}            
select {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    text-align: left;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    text-align: center;
}
label {
    width: 100%;
    display: flex;
}            
.ex {
    width: 100%;
}
.outter {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.elts {
   width: -moz-fit-content;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
